name: Make Test

on:
  push:
    branches: ["**"]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up build tools
        run: sudo apt-get update && sudo apt-get install -y build-essential lcov python3 python3-pip

      - name: Install Python wasmtime module
        run: pip3 install wasmtime

      - name: Run tests
        run: make test
